/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * Jorge A. Toro
 * @jolthgs
 * © 2014 Dev Microsystem S.A.S.
 *
 */

@import "iconfont.css";

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/** Fonts **/
@font-face {
font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
src: local('Noto Sans'), local('NotoSans'), url(http://themes.googleusercontent.com/static/fonts/notosans/v2/LeFlHvsZjXu2c3ZRgBq9nD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
font-family: 'Quattrocento Sans';
font-style: normal;
font-weight: 400;
src: local('Quattrocento Sans'), local('QuattrocentoSans'), url(http://themes.googleusercontent.com/static/fonts/quattrocentosans/v6/efd6FGWWGX5Z3ztwLBrG9b2aU247V0zTzydO4RoO9Ok.woff) format('woff');
}
@font-face {
font-family: 'Nobile';
font-style: normal;
font-weight: 400;
src: local('Nobile'), local('Nobile-Regular'), url(http://themes.googleusercontent.com/static/fonts/nobile/v5/LJdSuYk02E6wtyvk5bnaeA.woff) format('woff');
}
@font-face {
font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
src: local('Istok Web Regular'), local('IstokWeb-Regular'), url(http://themes.googleusercontent.com/static/fonts/istokweb/v6/EvPKapBawcLZ3hbihjhqAT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
font-family: 'Asap';
font-style: normal;
font-weight: 400;
src: local('Asap'), local('Asap-Regular'), url(http://themes.googleusercontent.com/static/fonts/asap/v2/SgBaq0dzhSGNMfqm2JX5ng.woff) format('woff');
}
@font-face {
font-family: 'Dosis';
font-style: normal;
font-weight: 400;
src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v2/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
font-family: 'Open Sans Light';
font-style: normal;
font-weight: 300;
src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}


/** Commun **/
body {
/*font: 17px/1.2 'Noto Sans', sans-serif;*/
/*font: 17px/1.2 'Quattrocento Sans', sans-serif;*/
/*font: 17px/1.2 'Nobile', sans-serif;*/
/*font: 17px/1.2 'Istok Web', sans-serif;*/
/*font: 17px/1.2 'Asap', sans-serif;*/
/*font: 17px/1.2 'Dosis', sans-serif;*/
/*font: 17px/1.2 'Source Sans Pro', sans-serif;*/
/*font: 17px/1.2 'Open Sans', sans-serif;*/
font: 17px/1.2 'Open Sans Light', sans-serif;
color: #646f76;
font-weight: normal;
font-style: normal;
font-variant: normal;
}

a {
text-decoration: none;
color: #646f76;
}

a:focus {
outline:none; 
border:none;
}

h1, h2, h3, h4 {
font-weight: normal;
margin: 0 0 1em;
padding: 0;
}

h3 {
    font-family: Open sans;
}

h2 {
    font-size: 1.875em;
    font-weight: bold;
    text-align: center;
}

.inner {
position: relative;
max-width: 1170px;
margin: 0 auto;
padding: 0 30px;
overflow: hidden;
}



/** Header **/

header {
font-family: 'Open Sans';
background: rgba(255,255,255,0.9); 
/*padding: 5px 0 0;*/
padding: 0.5em 0;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 10;
}

nav {
float: right;
}

nav ul {
float: right;    
padding: 0;
}

nav ul>li {
margin: 0;
padding: 0;
float: left;
}

nav a {
float: left;
padding: 15px 18px;
line-height: 1;
transition: .2s;
}

nav a.launch {
background: rgb(255,204,0);
color: #fff;
white-space: nowrap;
margin-left: 18px;
padding: 15px 18px;
font-weight: bold;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}

nav a:hover,
nav a:focus{
color: rgb(255,204,0); 
}

nav a.launch:hover,
nav a.launch:focus {
color: #646f76;
}

nav a#pull {
display: none;
}

/** Banner **/

#banner {
/*margin-top: 5%;*/
margin-top: 4.5em;
position: relative;
}

/*#banner .inner {
height: 575px;
padding-top: 100px;
z-index: 3;
}*/
#banner .inner {
z-index: 3;
/*padding-top: 100px;*/
padding-top: 5%;
}

#banner h1 {
font-family: 'Noto Sans';
font-size: 62px;
color: #fc0;
line-height: 1;
text-shadow: 0 1px 1px rgba(0,0,0,0.1);
width: 49%;
display: inline-block;
}

#banner img {
/*position: relative;
bottom: 0px;*/
/*bottom: 31px;*/
float: right;
}

#map-canvas, #map_canvas {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 1;
}

#mapOverlay {
background: -moz-linear-gradient(top,rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 2;
}

/****/
#awesomeness {
    font-size: 1.875em;
    font-weight: bold;
    padding: 0.5em 0;
    /*background: #7d7d7d;*/
    /*background: rgb(135,135,135);*/
    /*background: #ebebeb;*/
    background: rgb(255,204,0);
    color: #fff;
    text-align: center;
}

/** overview **/

#overview {
    background: #fff;
    padding: 100px 0;
    text-align: center;
    position: relative;
    /*z-index: 2;*/
}

#overview ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

#overview ul li {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    font-size: 18px;
    margin-bottom: 75px;
}

#overview ul>li {
    margin: 0;
    padding: 0;
}

#overview .icon {
    height: 195px;
}

#overview p {
    margin: 0 15px;
}

#overview .top {
}

/*#overview .top {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 10px;
    background-size: auto 10px;
}*/

/*#overview .bottom {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 10px;
    background-size: auto 10px;
}*/


/** About **/
#about {
    padding: 100px 0;
    background: #7d7d7d;
    color: #fff;
    font-size: 18px;
    line-height: 1.4;
}




/** Footer **/
footer {
    text-align: center;
    padding-bottom: 30px;
    line-height: 1;
}
footer p {
    font-size: .7em;
}

#social {
    padding: 0.5em 0;
    background: rgb(255,204,0);
    color: #FFF;
}

#social a {
    margin-left: 10px;
    font-size: 3em;
    transition: all 0.3s;
    color: #FFF;
}

/*#social h2 {
    font-size: 1.875em;
    font-weight: bold;
}*/

#social a:hover{
    text-decoration: none;
    cursor: pointer;                    
    color: #646f76;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
    /* Configure */
    background-image: url("/static/img/logo_750x208.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 239px;
    height: 67px;
    /*Extras */
    display: inline-block;
    float: left;
    margin: 0;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
