$def with ()
    
  <header>
   <section class="inner">
    <h1 class="ir">Rastree y gestione sus activos móviles de forma fácil</h1>
    <nav>
     <ul>
      <li><a href="#overview1" class="scroll">Sistema</a></li> 
      <li><a href="#about1" class="scroll">Acerca de</a></li> 
      <li><a href="#features" class="scroll">Características</a></li> 
      <li><a href="#contact" class="scroll">Contáctenos</a></li> 
      <li><a href="/app" class="launch">Iniciar Web App</a></li>
     </ul>
     <a href="#" id="pull">Menu</a> 
    </nav>
   </section>
  </header>
  
  <section id="banner">
   <article class="inner">
    <h1>Rastree y gestione sus activos móviles de forma fácil</h1>
    <img alt="Phone" height="606" src="/static/img/phone.png" width="320">
   </article>
   <div id="map-canvas"></div>
   <div id="mapOverlay"></div>
  </section>

  <section id="awesomeness">
   <div id="overview1"></div>
   <article class="inner">
    <p>Gestión vehicular y seguimiento satelital</p>
   </article>
  </section>

  <section id="overview">
   <article class="inner">
    <ul>
     <li>
      <div class="icon">
       <img alt="Overview-location" height="140" src="/static/img/location.svg" width="187">
      </div>
      <h3>Localice, monitoree y gestione</h3>
      <p>Choose from thousands of beaches and waterways across Australia to view swell, wind, tide and weather conditions.</p>
     </li>
     <li>
      <div class="icon">
       <img alt="Overview-devices" height="140" src="/static/img/laptop_tablet_movil.svg" width="214">
      </div>
      <h3>Una aplicación, muchos dispositivos</h3>
      <p>Take Obsurfation with you everywhere you go - in your pocket, in the living room, in the office, anywhere!</p>
     </li>
     <li>
      <div class="icon">
       <img alt="Overview-collect" height="151" src="/static/img/box_rastree.svg" width="157">
      </div>
      <h3>Herramientas y servicios</h3>
      <p>Build a collection of favourites, so they're always close at hand, share conditions and your whereabouts with friends.</p>
     </li>
    </ul>
   </article>
   <div id="about1"></div>
  </section>

  <section id="about">
   <article class="inner">
    <h2>Acerca de</h2>
    <ul>
     <li class="logosimbolo">
      <img src="static/img/logosimbolo.png" alt="Logosimbolo Rastree"> 
      <p>Rastree es un sistema de gestión vehicular y seguimiento satelital, basado en el sistema global de navegación por satélite, 
      que permite determinar la posición de un objeto, una persona o un vehículo</p>
     </li>
    </ul>
   </article>
  </section>

  <!-- Add your site or application content here -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p>Hello world! This is HTML5 Boilerplate.</p>
  <br>

  <section id="features">
   <article class="inner">
   </article>
  </section>

  <footer id="contact">
   <article id="social">
    <div class="inner">
     <h2>Conéctate con nosotros</h2>
     <a class="icon-facebook" href="https://www.facebook.com/rastree.seguimientosatelital" target="_blank"></a>
     <a class="icon-twitter" href="https://twitter.com/rastreeoficial" target="_blank"></a>
     <a class="icon-google" href="https://plus.google.com/u/0/114444150954178306105/posts" target="_blank"></a>
    </div>
   </article>
   <article id="questions">
    <div class="inner">
     <h3>Preguntas/Dudas?</h3>
     <p>Nos encantaría hablar y explicar mejor cómo funciona nuestro sistema Rastree. Ponte en contacto con nosotros!</p>
    </div>
   </article>
   <article class="inner">
    <p>© 2014 Dev Microsystem S.A.S</p>
   </article>
  </footer>
