<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Rastree | Page Not Found :(</title>
        <!-- favicon.ico and apple-touch-icon.png -->
        <link rel="icon" href="/static/img/favicon.png" sizes="16x16 32x32" type="image/png">
        <link rel="apple-touch-icon" href="/static/img/apple_touch_icon/touch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple_touch_icon/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple_touch_icon/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple_touch_icon/touch-icon-ipad-retina.png">
        <!-- CSS3 -->
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/notfound.css">
    </head>
    <body>
        <div class="container">
            <h1>No se ha encontrado <span>:(</span></h1>
            <!--<h1>Not found <span>:(</span></h1>-->
            <p>Lo sentimos, pero la página que estabas tratando de vista no existe.</p>
            <!--<p>Sorry, but the page you were trying to view does not exist.</p>-->
            <p>Parece que este fue el resultado de cualquiera de los dos:</p>
            <!--<p>It looks like this was the result of either:</p>-->
            <ul>
                <!--<li>a mistyped address</li>
                <li>an out-of-date link</li>-->
                <li>una dirección mal escrita</li>
                <li>un enlace roto</li>
            </ul>
            <script>
                var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
            </script>
            <script src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
        </div>
    </body>
</html>
